## 06-1 데이터 전처리 - 원하는 형태로 데이터 가공하기

| 함수          | 기능              |
|---------------|-------------------|
| query()       | 행 추출           |
| df[]          | 열(변수) 추출     |
| sort_values() | 정렬              |
| groupby()     | 집단별로 나누기   |
| agg()         | 통계치 구하기     |
| merge()       | 데이터 합치기(열) |
| concat()      | 데이터 합치기(행) |

## 06-2 조건에 맞는 데이터만 추출하기

### 조건에 맞는 데이터만 추출하기

In [1]:
import pandas as pd
exam = pd.read_csv('exam.csv')
exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [2]:
# exam에서 nclass가 1인 경우만 추출
exam.query('nclass == 1')

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [3]:
# 2반인 경우만 추출
exam.query('nclass == 2')

   id  nclass  math  english  science
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45
7   8       2    90       78       25

In [4]:
# 1반이 아닌 경우
exam.query('nclass != 1')

    id  nclass  math  english  science
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [5]:
# 3반이 아닌 경우
exam.query('nclass != 3')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 초과, 미만, 이상, 이하 조건 걸기

In [6]:
# 수학 점수가 50점을 초과한 경우
exam.query('math > 50')

    id  nclass  math  english  science
1    2       1    60       97       60
6    7       2    80       90       45
7    8       2    90       78       25
10  11       3    65       65       65
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [7]:
# 수학 점수가 50점 미만인 경우
exam.query('math < 50')

    id  nclass  math  english  science
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
8    9       3    20       98       15
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12

In [8]:
# 영어 점수가 50점 이상인 경우
exam.query('english >= 50')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [9]:
# 영어 점수가 80점 이하인 경우
exam.query('english <= 80')

    id  nclass  math  english  science
4    5       2    25       80       65
7    8       2    90       78       25
10  11       3    65       65       65
14  15       4    75       56       78
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87

### 여러 조건을 충족하는 행 추출하기

In [10]:
# 1반이면서 수학 점수가 50 점 이상인 경우
exam.query('nclass == 1 & math >= 50')

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60

In [11]:
# 2반이면서 영어 점수가 80 점 이상인 경우
exam.query('nclass == 2 & english >= 80')

   id  nclass  math  english  science
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45

### 여러 조건 중 하나 이상 충족하는 행 추출하기

In [12]:
# 수학 점수가 90점 이상이거나 영어 점수가 90점 이상인 경우
exam.query('math >= 90 | english >= 90')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
3    4       1    30       98       58
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
12  13       4    46       98       65
15  16       4    58       98       65

In [13]:
# 영어 점수가 90점 미만이거나 과학 점수가 50점 미만인 경우
exam.query('english < 90 | science < 50')

    id  nclass  math  english  science
2    3       1    45       86       78
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
13  14       4    48       87       12
14  15       4    75       56       78
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 목록에 해당하는 행 추출하기

In [14]:
# 1, 3, 5반에 해당하면 추출
exam.query('nclass == 1 | nclass == 3 | nclass == 5')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [15]:
# 1, 3, 5반에 해당하면 추출
exam.query('nclass in [1, 3, 5]')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 추출한 행으로 데이터 만들기

In [16]:
# nclass가 1인 행 추출해 nclass1에 할당
nclass1 = exam.query('nclass == 1')

# nclass가 2인 행 추출해 nclass2에 할당
nclass2 = exam.query('nclass == 2')

In [17]:
nclass1['math'].mean()  # 1반 수학 점수 평균 구하기

46.25

In [18]:
nclass2['math'].mean()  # 2반 수학 점수 평균 구하기

61.25

### 문자 변수를 이용해 조건에 맞는 행 추출하기

In [19]:
df = pd.DataFrame({'sex'     : ['F', 'M', 'F', 'M'],
                   'country' : ['Korea', 'China', 'Japan', 'USA']})
df

  sex country
0   F   Korea
1   M   China
2   F   Japan
3   M     USA

In [20]:
# 전체 조건에 작은따옴표, 추출할 문자에 큰따옴표 사용
df.query('sex == "F" & country == "Korea"')

  sex country
0   F   Korea

In [21]:
# 전체 조건에 큰따옴표, 추출할 문자에 작은따옴표 사용
df.query("sex == 'M' & country == 'China'")

  sex country
1   M   China

---

### (알아 두면 좋아요) 외부 변수를 이용해 추출하기

In [22]:
var = 3
exam.query('nclass == @var')

    id  nclass  math  english  science
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32

---

### (알아 두면 좋아요) 파이썬에서 사용하는 기호

| 논리 연산자 | 기능        |
|:-----------:|-------------|
| <           | 작다        |
| <=          | 작거나 같다 |
| >           | 크다        |
| >=          | 크거나 같다 |
| ==          | 같다        |
| !=          | 같지 않다   |
| \|          | 또는        |
| &           | 그리고      |
| in          | 매칭 확인   |

<br>

| 산술 연산자 | 기능            |
|:-----------:|-----------------|
| +           | 더하기          |
| -           | 빼기            |
| *           | 곱하기          |
| **          | 제곱            |
| /           | 나누기          |
| //          | 나눗셈의 몫     |
| %           | 나눗셈의 나머지 |

---

### (알아 두면 좋아요) 데이터 프레임 출력 제한 설정하기

In [23]:
pd.set_option('display.max_rows', None)     # 모든 행 출력하도록 설정
pd.set_option('display.max_columns', None)  # 모든 열 출력하도록 설정

In [24]:
pd.reset_option('display.max_rows')     # 행 출력 제한 되돌리기
pd.reset_option('display.max_columns')  # 열 출력 제한 되돌리기

------------------------------------------------------------------------

## 06-3 필요한 변수만 추출하기

### 변수 추출하기

In [25]:
exam['math']  # math 추출

0     50
1     60
2     45
3     30
4     25
5     50
6     80
7     90
8     20
9     50
10    65
11    45
12    46
13    48
14    75
15    58
16    65
17    80
18    89
19    78
Name: math, dtype: int64

In [26]:
exam['english']  # english 추출

0     98
1     97
2     86
3     98
4     80
5     89
6     90
7     78
8     98
9     98
10    65
11    85
12    98
13    87
14    56
15    98
16    68
17    78
18    68
19    83
Name: english, dtype: int64

#### 여러 변수 추출하기

In [27]:
exam[['nclass', 'math', 'english']]  # nclass, math, english 추출

    nclass  math  english
0        1    50       98
1        1    60       97
2        1    45       86
3        1    30       98
4        2    25       80
5        2    50       89
6        2    80       90
7        2    90       78
8        3    20       98
9        3    50       98
10       3    65       65
11       3    45       85
12       4    46       98
13       4    48       87
14       4    75       56
15       4    58       98
16       5    65       68
17       5    80       78
18       5    89       68
19       5    78       83

------------------------------------------------------------------------

#### (알아 두면 좋아요) 변수가 1개 일 때 데이터 프레임 유지하기

In [28]:
# 시리즈로 추출
exam['math']

0     50
1     60
2     45
3     30
4     25
5     50
6     80
7     90
8     20
9     50
10    65
11    45
12    46
13    48
14    75
15    58
16    65
17    80
18    89
19    78
Name: math, dtype: int64

In [29]:
# 데이터 프레임으로 추출
exam[['math']]

    math
0     50
1     60
2     45
3     30
4     25
5     50
6     80
7     90
8     20
9     50
10    65
11    45
12    46
13    48
14    75
15    58
16    65
17    80
18    89
19    78

------------------------------------------------------------------------

### 변수 제거하기

In [30]:
exam.drop(columns = 'math')  # math 제거

    id  nclass  english  science
0    1       1       98       50
1    2       1       97       60
2    3       1       86       78
3    4       1       98       58
4    5       2       80       65
5    6       2       89       98
6    7       2       90       45
7    8       2       78       25
8    9       3       98       15
9   10       3       98       45
10  11       3       65       65
11  12       3       85       32
12  13       4       98       65
13  14       4       87       12
14  15       4       56       78
15  16       4       98       65
16  17       5       68       98
17  18       5       78       90
18  19       5       68       87
19  20       5       83       58

In [31]:
exam.drop(columns = ['math', 'english'])  # math, english 제거

    id  nclass  science
0    1       1       50
1    2       1       60
2    3       1       78
3    4       1       58
4    5       2       65
5    6       2       98
6    7       2       45
7    8       2       25
8    9       3       15
9   10       3       45
10  11       3       65
11  12       3       32
12  13       4       65
13  14       4       12
14  15       4       78
15  16       4       65
16  17       5       98
17  18       5       90
18  19       5       87
19  20       5       58

### pandas 함수 조합하기

#### `query()`와 `[]` 조합하기

In [32]:
# nclass가 1인 행만 추출한 다음 english 추출
exam.query('nclass == 1')['english']

0    98
1    97
2    86
3    98
Name: english, dtype: int64

In [33]:
# math가 50 이상인 행만 추출한 다음 id, math 추출
exam.query('math >= 50')[['id', 'math']]

    id  math
0    1    50
1    2    60
5    6    50
6    7    80
7    8    90
9   10    50
10  11    65
14  15    75
15  16    58
16  17    65
17  18    80
18  19    89
19  20    78

#### 일부만 출력하기

In [34]:
# math가 50 이상인 행만 추출한 다음 id, math 앞부분 5행까지 추출
exam.query('math >= 50')[['id', 'math']].head()

   id  math
0   1    50
1   2    60
5   6    50
6   7    80
7   8    90

In [35]:
# math가 50 이상인 행만 추출한 다음 id, math 앞부분 10행까지 추출
exam.query('math >= 50')[['id', 'math']].head(10)

    id  math
0    1    50
1    2    60
5    6    50
6    7    80
7    8    90
9   10    50
10  11    65
14  15    75
15  16    58
16  17    65

### 가독성 있게 코드 줄 바꾸기

In [37]:
exam.query('math >= 50') \
    [['id', 'math']] \
    .head(10)

    id  math
0    1    50
1    2    60
5    6    50
6    7    80
7    8    90
9   10    50
10  11    65
14  15    75
15  16    58
16  17    65

---

## 06-4 순서대로 정렬하기

### 오름차순으로 정렬하기

In [38]:
exam.sort_values('math')  # math 오름차순 정렬

    id  nclass  math  english  science
8    9       3    20       98       15
4    5       2    25       80       65
3    4       1    30       98       58
2    3       1    45       86       78
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
0    1       1    50       98       50
9   10       3    50       98       45
5    6       2    50       89       98
15  16       4    58       98       65
1    2       1    60       97       60
10  11       3    65       65       65
16  17       5    65       68       98
14  15       4    75       56       78
19  20       5    78       83       58
6    7       2    80       90       45
17  18       5    80       78       90
18  19       5    89       68       87
7    8       2    90       78       25

### 내림차순으로 정렬하기

In [39]:
exam.sort_values('math', ascending = False)  # math 내림차순 정렬

    id  nclass  math  english  science
7    8       2    90       78       25
18  19       5    89       68       87
17  18       5    80       78       90
6    7       2    80       90       45
19  20       5    78       83       58
14  15       4    75       56       78
16  17       5    65       68       98
10  11       3    65       65       65
1    2       1    60       97       60
15  16       4    58       98       65
9   10       3    50       98       45
5    6       2    50       89       98
0    1       1    50       98       50
13  14       4    48       87       12
12  13       4    46       98       65
11  12       3    45       85       32
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
8    9       3    20       98       15

### 여러 정렬 기준 적용하기

In [40]:
# nclass, math 오름차순 정렬
exam.sort_values(['nclass', 'math'])

    id  nclass  math  english  science
3    4       1    30       98       58
2    3       1    45       86       78
0    1       1    50       98       50
1    2       1    60       97       60
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
11  12       3    45       85       32
9   10       3    50       98       45
10  11       3    65       65       65
12  13       4    46       98       65
13  14       4    48       87       12
15  16       4    58       98       65
14  15       4    75       56       78
16  17       5    65       68       98
19  20       5    78       83       58
17  18       5    80       78       90
18  19       5    89       68       87

In [41]:
# nclass 오름차순, math 내림차순 정렬
exam.sort_values(['nclass', 'math'], ascending = [True, False])

    id  nclass  math  english  science
1    2       1    60       97       60
0    1       1    50       98       50
2    3       1    45       86       78
3    4       1    30       98       58
7    8       2    90       78       25
6    7       2    80       90       45
5    6       2    50       89       98
4    5       2    25       80       65
10  11       3    65       65       65
9   10       3    50       98       45
11  12       3    45       85       32
8    9       3    20       98       15
14  15       4    75       56       78
15  16       4    58       98       65
13  14       4    48       87       12
12  13       4    46       98       65
18  19       5    89       68       87
17  18       5    80       78       90
19  20       5    78       83       58
16  17       5    65       68       98

------------------------------------------------------------------------

## 06-5 파생변수 추가하기

### 파생변수 추가하기

In [42]:
# total 변수 추가
exam.assign(total = exam['math'] + exam['english'] + exam['science'])

    id  nclass  math  english  science  total
0    1       1    50       98       50    198
1    2       1    60       97       60    217
2    3       1    45       86       78    209
3    4       1    30       98       58    186
4    5       2    25       80       65    170
5    6       2    50       89       98    237
6    7       2    80       90       45    215
7    8       2    90       78       25    193
8    9       3    20       98       15    133
9   10       3    50       98       45    193
10  11       3    65       65       65    195
11  12       3    45       85       32    162
12  13       4    46       98       65    209
13  14       4    48       87       12    147
14  15       4    75       56       78    209
15  16       4    58       98       65    221
16  17       5    65       68       98    231
17  18       5    80       78       90    248
18  19       5    89       68       87    244
19  20       5    78       83       58    219

#### 여러 파생변수 한 번에 추가하기

In [43]:
exam.assign(total = exam['math'] + exam['english'] + exam['science'],       # total 추가
            mean = (exam['math'] + exam['english'] + exam['science']) / 3)  # mean 추가

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000

### `df.assign()`에 `np.where()` 적용하기

In [44]:
import numpy as np
exam.assign(test = np.where(exam['science'] >= 60, 'pass', 'fall'))

    id  nclass  math  english  science  test
0    1       1    50       98       50  fall
1    2       1    60       97       60  pass
2    3       1    45       86       78  pass
3    4       1    30       98       58  fall
4    5       2    25       80       65  pass
5    6       2    50       89       98  pass
6    7       2    80       90       45  fall
7    8       2    90       78       25  fall
8    9       3    20       98       15  fall
9   10       3    50       98       45  fall
10  11       3    65       65       65  pass
11  12       3    45       85       32  fall
12  13       4    46       98       65  pass
13  14       4    48       87       12  fall
14  15       4    75       56       78  pass
15  16       4    58       98       65  pass
16  17       5    65       68       98  pass
17  18       5    80       78       90  pass
18  19       5    89       68       87  pass
19  20       5    78       83       58  fall

### 추가한 변수를 `pandas` 함수에 바로 활용하기

In [45]:
# total 변수 추가
# total 기준 정렬

In [46]:
exam.assign(total = exam['math'] + exam['english'] + exam['science']) \
    .sort_values('total')

    id  nclass  math  english  science  total
8    9       3    20       98       15    133
13  14       4    48       87       12    147
11  12       3    45       85       32    162
4    5       2    25       80       65    170
3    4       1    30       98       58    186
9   10       3    50       98       45    193
7    8       2    90       78       25    193
10  11       3    65       65       65    195
0    1       1    50       98       50    198
2    3       1    45       86       78    209
12  13       4    46       98       65    209
14  15       4    75       56       78    209
6    7       2    80       90       45    215
1    2       1    60       97       60    217
19  20       5    78       83       58    219
15  16       4    58       98       65    221
16  17       5    65       68       98    231
5    6       2    50       89       98    237
18  19       5    89       68       87    244
17  18       5    80       78       90    248

### `lambda` 이용해 데이터 프레임명 줄여 쓰기

In [47]:
# 긴 데이터 프레임명 지정
long_name = pd.read_csv('exam.csv')

# long_name 직접 입력
long_name.assign(new = long_name['math'] + long_name['english'] + long_name['science'])

    id  nclass  math  english  science  new
0    1       1    50       98       50  198
1    2       1    60       97       60  217
2    3       1    45       86       78  209
3    4       1    30       98       58  186
4    5       2    25       80       65  170
5    6       2    50       89       98  237
6    7       2    80       90       45  215
7    8       2    90       78       25  193
8    9       3    20       98       15  133
9   10       3    50       98       45  193
10  11       3    65       65       65  195
11  12       3    45       85       32  162
12  13       4    46       98       65  209
13  14       4    48       87       12  147
14  15       4    75       56       78  209
15  16       4    58       98       65  221
16  17       5    65       68       98  231
17  18       5    80       78       90  248
18  19       5    89       68       87  244
19  20       5    78       83       58  219

In [48]:
# long_name 대신 x 입력
long_name.assign(new = lambda x: x['math'] + x['english'] + x['science'])

    id  nclass  math  english  science  new
0    1       1    50       98       50  198
1    2       1    60       97       60  217
2    3       1    45       86       78  209
3    4       1    30       98       58  186
4    5       2    25       80       65  170
5    6       2    50       89       98  237
6    7       2    80       90       45  215
7    8       2    90       78       25  193
8    9       3    20       98       15  133
9   10       3    50       98       45  193
10  11       3    65       65       65  195
11  12       3    45       85       32  162
12  13       4    46       98       65  209
13  14       4    48       87       12  147
14  15       4    75       56       78  209
15  16       4    58       98       65  221
16  17       5    65       68       98  231
17  18       5    80       78       90  248
18  19       5    89       68       87  244
19  20       5    78       83       58  219

#### 앞에서 만든 변수를 활용해 다시 변수 만들기

In [49]:
exam.assign(total = exam['math'] + exam['english'] + exam['science'],
            mean  = lambda x: x['total'] / 3)

    id  nclass  math  english  science  total       mean
0    1       1    50       98       50    198  66.000000
1    2       1    60       97       60    217  72.333333
2    3       1    45       86       78    209  69.666667
3    4       1    30       98       58    186  62.000000
4    5       2    25       80       65    170  56.666667
5    6       2    50       89       98    237  79.000000
6    7       2    80       90       45    215  71.666667
7    8       2    90       78       25    193  64.333333
8    9       3    20       98       15    133  44.333333
9   10       3    50       98       45    193  64.333333
10  11       3    65       65       65    195  65.000000
11  12       3    45       85       32    162  54.000000
12  13       4    46       98       65    209  69.666667
13  14       4    48       87       12    147  49.000000
14  15       4    75       56       78    209  69.666667
15  16       4    58       98       65    221  73.666667
16  17       5    65       68       98    231  77.000000
17  18       5    80       78       90    248  82.666667
18  19       5    89       68       87    244  81.333333
19  20       5    78       83       58    219  73.000000

---

## 06-6 집단별로 요약하기

### 집단별로 요약하기

#### 전체 요약 통계량 구하기

In [50]:
# math 평균 구하기
exam.agg(mean_math = ('math', 'mean'))

            math
mean_math  57.45

#### 집단별 요약 통계량 구하기

In [51]:
# nclass별로 분리하기
# math 평균 구하기

In [52]:
exam.groupby('nclass') \
    .agg(mean_math = ('math', 'mean'))

        mean_math
nclass
1           46.25
2           61.25
3           45.00
4           56.75
5           78.00

------------------------------------------------------------------------

#### (알아 두면 좋아요) 변수를 인덱스로 바꾸지 않기

In [53]:
exam.groupby('nclass', as_index = False) \
    .agg(mean_math = ('math', 'mean'))

   nclass  mean_math
0       1      46.25
1       2      61.25
2       3      45.00
3       4      56.75
4       5      78.00

------------------------------------------------------------------------

#### 여러 요약 통계량 한 번에 구하기

In [54]:
# nclass별로 분리
# 수학 점수 평균
# 수학 점수 합계
# 수학 점수 중앙값
# 빈도(학생 수)

In [55]:
exam.groupby('nclass') \
    .agg(mean_math   = ('math', 'mean'),     
         sum_math    = ('math', 'sum'),
         median_math = ('math', 'median'),          
         n           = ('nclass', 'count'))

        mean_math  sum_math  median_math  n
nclass
1           46.25       185         47.5  4
2           61.25       245         65.0  4
3           45.00       180         47.5  4
4           56.75       227         53.0  4
5           78.00       312         79.0  4

---

### (알아 두면 좋아요) 모든 변수의 요약 통계량 한 번에 구하기

In [56]:
exam.groupby('nclass').mean()

          id   math  english  science
nclass
1        2.5  46.25    94.75    61.50
2        6.5  61.25    84.25    58.25
3       10.5  45.00    86.50    39.25
4       14.5  56.75    84.75    55.00
5       18.5  78.00    74.25    83.25

------------------------------------------------------------------------

### 집단별로 다시 집단 나누기

In [57]:
mpg = pd.read_csv('mpg.csv')

In [58]:
# 제조 회사 및 구동 방식별 분리
# cty 평균 구하기

In [59]:
mpg.groupby(['manufacturer', 'drv']) \
   .agg(mean_cty = ('cty', 'mean'))

                   mean_cty
manufacturer drv
audi         4    16.818182
             f    18.857143
chevrolet    4    12.500000
             f    18.800000
             r    14.100000
dodge        4    12.000000
             f    15.818182
ford         4    13.307692
             r    14.750000
honda        f    24.444444
hyundai      f    18.642857
jeep         4    13.500000
land rover   4    11.500000
lincoln      r    11.333333
mercury      4    13.250000
nissan       4    13.750000
             f    20.000000
pontiac      f    17.000000
subaru       4    19.285714
toyota       4    14.933333
             f    21.368421
volkswagen   f    20.925926

In [60]:
## audi의 drv별 빈도
# audi 추출
# drv별 분리
# 빈도 구하기

In [61]:
mpg.query('manufacturer == "audi"') \
   .groupby(['drv']) \
   .agg(n = ('drv', 'count'))

      n
drv
4    11
f     7

In [62]:
## chevrolet의 drv별 빈도
# chevrolet 추출
# drv별 분리
# 빈도 구하기

In [63]:
mpg.query('manufacturer == "chevrolet"') \
   .groupby(['drv']) \
   .agg(n = ('drv', 'count'))

      n
drv
4     4
f     5
r    10

------------------------------------------------------------------------

#### (알아 두면 좋아요) `value_counts()`로 집단별 빈도 간단하게 구하기

In [64]:
mpg.groupby('drv') \
   .agg(n = ('drv', 'count'))

       n
drv
4    103
f    106
r     25

In [65]:
mpg['drv'].value_counts()

f    106
4    103
r     25
Name: drv, dtype: int64

In [66]:
# drv 빈도 구하기
# 데이터 프레임으로 바꾸기, 변수명 n으로 바꾸기
# axis 이름에 drv 지정
# n이 100을 초과한 경우 추출

In [67]:
mpg['drv'].value_counts() \
          .to_frame('n') \
          .rename_axis('drv') \
          .query('n > 100')

       n
drv
f    106
4    103

------------------------------------------------------------------------

### `pandas` 함수 조합하기

In [68]:
# suv 추출
# 합산 연비 변수 만들기
# 제조 회사별로 분리
# 합산 연비 평균 구하기
# 내림차순 정렬
# 1~5위까지 출력

In [69]:
mpg.query('category == "suv"') \
   .assign(total = (mpg['hwy'] + mpg['cty']) / 2) \
   .groupby('manufacturer') \
   .agg(mean_tot = ('total', 'mean')) \
   .sort_values('mean_tot', ascending = False) \
   .head()

               mean_tot
manufacturer
subaru        21.916667
toyota        16.312500
nissan        15.875000
mercury       15.625000
jeep          15.562500

---

## 06-7 데이터 합치기

### 가로로 합치기

In [70]:
# 중간고사 데이터 만들기
test1 = pd.DataFrame({'id'      : [1, 2, 3, 4, 5],
                      'midterm' : [60, 80, 70, 90, 85]})

# 기말고사 데이터 만들기
test2 = pd.DataFrame({'id'    : [1, 2, 3, 4, 5],
                      'final' : [70, 83, 65, 95, 80]})

In [71]:
test1  # test1 출력

   id  midterm
0   1       60
1   2       80
2   3       70
3   4       90
4   5       85

In [72]:
test2  # test2 출력

   id  final
0   1     70
1   2     83
2   3     65
3   4     95
4   5     80

In [73]:
# id 기준으로 합쳐서 total에 할당
total = pd.merge(test1, test2, how = 'left', on = 'id')
total

   id  midterm  final
0   1       60     70
1   2       80     83
2   3       70     65
3   4       90     95
4   5       85     80

#### 다른 데이터를 활용해 변수 추가하기

In [74]:
name = pd.DataFrame({'nclass'  : [1, 2, 3, 4, 5],
                     'teacher' : ['kim', 'lee', 'park', 'choi', 'jung']})
name

   nclass teacher
0       1     kim
1       2     lee
2       3    park
3       4    choi
4       5    jung

In [75]:
# nclass 기준으로 합쳐서 exam_new에 할당
exam_new = pd.merge(exam, name, how = 'left', on = 'nclass')
exam_new

    id  nclass  math  english  science teacher
0    1       1    50       98       50     kim
1    2       1    60       97       60     kim
2    3       1    45       86       78     kim
3    4       1    30       98       58     kim
4    5       2    25       80       65     lee
5    6       2    50       89       98     lee
6    7       2    80       90       45     lee
7    8       2    90       78       25     lee
8    9       3    20       98       15    park
9   10       3    50       98       45    park
10  11       3    65       65       65    park
11  12       3    45       85       32    park
12  13       4    46       98       65    choi
13  14       4    48       87       12    choi
14  15       4    75       56       78    choi
15  16       4    58       98       65    choi
16  17       5    65       68       98    jung
17  18       5    80       78       90    jung
18  19       5    89       68       87    jung
19  20       5    78       83       58    jung

### 세로로 합치기

In [76]:
# 학생 1~5번 시험 데이터 만들기
group_a = pd.DataFrame({'id'   : [1, 2, 3, 4, 5],
                        'test' : [60, 80, 70, 90, 85]})

# 학생 6~10번 시험 데이터 만들기
group_b = pd.DataFrame({'id'   : [6, 7, 8, 9, 10],
                        'test' : [70, 83, 65, 95, 80]})

In [77]:
group_a  # group_a 출력

   id  test
0   1    60
1   2    80
2   3    70
3   4    90
4   5    85

In [78]:
group_b  # group_b 출력

   id  test
0   6    70
1   7    83
2   8    65
3   9    95
4  10    80

In [79]:
# 데이터 합쳐서 group_all에 할당
group_all = pd.concat([group_a, group_b])
group_all

   id  test
0   1    60
1   2    80
2   3    70
3   4    90
4   5    85
0   6    70
1   7    83
2   8    65
3   9    95
4  10    80